.register__modal {
  font-family: "Lexend", sans-serif;

  &_form {
    width: 100%;

    &_field {
      position: relative;
      margin: 13px 0px;
      background-color: #f6f6f7;

      input {
        padding: 3px 12px;
        background-color: #f6f6f7;
        color: #000;
        border: 1px solid #f6f6f7;
        outline: none;
        height: 44px;
        width: 381px;
        max-width: 381px;
        font-size: 14px;
        font-weight: 400;
      }

      &_img {
        position: absolute;
        right: 10px;
        top: 30%;
        cursor: pointer;
      }

      &_error {
        position: absolute;
        color: red;
        top: 30%;
        right: 10px;
        margin: 0px;
      }
    }

    &_subtitle {
      text-align: center;
      margin-bottom: 15px;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      font-size: 16px;

      &_faq {
        color: #333;
        font-weight: 600;
        cursor: pointer;
        font-family: "Lexend", sans-serif;
        margin: 0px 4px;
      }
    }

    &_button {
      height: 44px;
      width: 100%;
      padding: 13px 0px 11px;
      font-weight: 600;
      color: #a3a3a3;
      font-size: 16px;
      outline: none;
      background-color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(187, 187, 187, 0.25);
    }
  }
}
